body {
    background: url(backgr.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
H { text-align: center }
.ava {
    width: 450px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 20px 20px 44px rgba(0,0,0,025);
    display: block;
    margin: 0 auto;

} 


